/* @import url('https://fonts.googleapis.com/css2?family=Abel&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

.post-container {
    /* height: 100px; */
    background-color: white;
    border: 1px solid rgba(82, 79, 79,0.5);
    box-shadow: 5px 5px 10px gray;
    border-radius: 10px;
    padding: 10px;
    margin: 15px 5px;
}

.post-header-container {
    /* border: 2px solid red; */
    display: flex;
}

.post-info-container {
    margin-left: 20px;
    margin-top: 5px;
}

.post-sender-name {

}

.post-upload-time {
    /* font-family: 'Abel', sans-serif; */
    /* font-family: 'Maven Pro', sans-serif; */
    font-size: 13px;
}


.post-body-container {
    /* border: 2px solid green; */
    margin: 10px;
}

.post-body {

}

.post-image-holder {

}

.post-image {
    width: 100%;
}