@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

.post-container {
    background-color: white;
    border: 1px solid rgba(82, 79, 79,0.5);
    box-shadow: 5px 5px 10px gray;
    border-radius: 10px;
    padding: 10px;
    margin: 15px 5px;
}

.post-header-container {
    display: flex;
}

.post-info-container {
    margin-left: 20px;
    margin-top: 5px;
}

.post-upload-time {
    font-size: 13px;
}

.post-body-container {
    margin: 10px;
}

.post-image-holder {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-image {
    width: 100%;
}

.post-image-controls-container {
    display: inline-block;
    position: relative;
    font-size: 40px;
    color: white;
    cursor: pointer;
}

.post-controls-left {
    left: 25px;
}

.post-controls-right {
    right: 25px;
}

.post-footer-container {
    display: flex;
    justify-content: space-between;
}

.post-response-holder {
    font-size: 25px;
    display: inline-block;
    margin-left: 10px;
}

.post-response-btn {
    margin: 10px 15px;
    cursor: pointer;
}

.post-response-value {
    font-size: 18px;
}
