.profile-container {
    border: 1px solid #b8babd;
    background-color: #ffffff;
    box-shadow: 10px 10px 10px gray;
    width: 100%;
    min-height: 1000px;
    max-width: 750px;
    margin: 10px auto;
    padding-bottom: 30px;
}

.profile-cover-image {
    border-bottom: 2px solid #b8babd;
    height: 250px;
    background-image: center;
    overflow: hidden;
}

@keyframes coverImageAnimation {
    0%   {bottom: 0px;}
    50%  {bottom: 245px;}
    100% {bottom: 0px;}
}

.profile-cover-image > img{
    width: 100%;
    opacity: 0.90;
    position: relative;
    animation-name: coverImageAnimation;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

.profile-user-container {
    display: flex;
}

.profile-display-image {
    border: 2px solid #a9a9a9;
    background-color: #e8e7e7;
    box-shadow: 0px 0px 32px #595a5a;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    width: 175px;
    position: relative;
    bottom: 78px;
    left: 60px;
    
}

.profile-display-image > img {
    width: 100%;
}

.profile-display-image-overlay {
    background-color: #505050;
    border-radius: 20px;
    color: white;
    font-size: 14px;
    padding: 10px;
}

.profile-user-info {
    display: inline-block;
    flex: 1;
    margin-left: 85px;
}

.profile-user-info > .profile-name-info {
    color: #504949;
}

.profile-user-info > .profile-email-info {
    color: #504949;
}

.profile-user-info > .profile-friend-info > .badge {
    cursor: pointer;
    padding: 7px;
}

.profile-about-container {
    margin: 25px;
    display: flex;
    flex-direction: column;
}

.profile-about-container {
    border: 2px solid #878888;
    box-shadow: 0px 0px 10px black;
    border-radius: 10px;
    padding: 20px;
}

.profile-about-item {
    display: flex;
    justify-content: flex-end;
    width: 80%;
}

.profile-about-container p {
    display: inline-block;
    color: #504949;
    font-size: 18px;
    margin: 4px;
    padding: 2px;
    width: 80%;
    line-height: 35px;
}

.profile-about-container input {
    display: inline-block;
    width: 80%;
    color: #504949;
    font-size: 18px;
    margin: 4px;
    padding: 2px;
}

.about-submit-btn-container {
    margin: 30px
}

.about-submit-btn-container button {
    padding: 10px 40px;
}

.about-field-updated {
    background-color: #becacb40;
}

.photo-gallery-container .no-image {
    width: 200px;
}

.photo-gallery-heading {
    padding: 15px;
}

.gallery-photo-holder {
    padding: 5px;
}

.gallery-thumbnail {
    width: 138px;
    height: 138px;
    display: inline-block;
    margin: 3px 5px;
    overflow: hidden;
}

.gallery-thumbnail img {
    width: 100%;
    height: 100%;
}

.gallery-button-holder {
    margin-top: 20px;
}

.gallery-button-holder button {
    padding: 10px 50px;
}

.upload-userdp-preview-holder {
    min-width: 400px;
    margin: 5px;
    display: flex;
    justify-content: center;
}

.upload-userdp-preview-holder img{
    max-width: 100%;
    max-height: 450px;
    min-height: 250px;
    border: 2px solid gray;
}

.friend-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-column-gap: 10px; */
}

.friend-card {
    display: flex;
    /* min-width: 50%; */
    margin: 10px;
    border: 2px solid #928e8e;
    border-radius: 5px;
    box-shadow: 5px 5px 10px gray;
    padding: 10px;
}

.friend-card-info-container {
    /* border: 1px solid black; */
    margin-left: 10px;
    display: inline-block;
    width: 100%;
}

.friend-request-card {
    display: flex;
    /* min-width: 50%; */
    margin: 10px;
    border: 1px solid #928e8e;
    border-radius: 5px;
    box-shadow: 5px 5px 10px gray;
    padding: 20px;
}

.friend-request-info-container {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.friend-request-about {
    font-size: 15px;
    color: #5f6469;
}

.friend-request-controls-container {
    width: 1005;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    margin-right: 0;
}

.friend-request-controls-container .btn {
    margin: 10px;
    background-color: steelblue;
    color: white;
}

.friend-request-controls-container .btn:hover{
    opacity: 0.75;
    color: whitesmoke;
}

/* For even smaller screens */
@media only screen and (max-width:720px)  {

    .profile-container {
        border: none;
        min-height: 95vh;
        box-shadow: none;
    }
    
    .profile-cover-image {
        height: 125px;
    }
    
    .profile-cover-image > img{
        animation: none;
    }

    .profile-display-image {
        width: 100px;
        height: 100px;
        bottom: 25px;
        left: 25px;
    }
    
    .profile-user-info {
        margin-left: 45px;
    }

    .profile-user-info > .profile-name-info {
        font-size: 26px;
    }

    .profile-user-info > .profile-email-info {
        font-size: 13px;
        line-height: 8px;
        margin-left: 5px;
    }
    
    .profile-about-container {
        margin: 10px;
    }
    
    .profile-about-container {
        padding: 0px;
    }
    
    .profile-about-item {
        width: 92%;
    }
    
    .about-submit-btn-container > h4 {
        font-size: 20px;
    }
    
}