
.profile-image {
    border-radius: 50%;
    width: 60px;
    border: 2px solid darkgray;
    margin: 5px auto;
}

.userSpan {
    color: #045377;
    cursor: pointer;
    font-weight: bold;
}

.drag-drop-outer-container {
    position: relative;
}

.drag-drop-overlay {
    border: 2px dashed grey;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.drag-drop-overlay-text {
    color: grey;
    font-size: 36px;
}

.emoji-picker-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    position: absolute;
}