/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color color 5000s ease-in-out 0s;
    /* transition: color 5000s ease-in-out 0s; */
    /* -webkit-text-fill-color: #25313d !important;
    -webkit-text-stroke-color: whitesmoke !important; */
    /* caret-color: white; */
    /* color: whitesmoke; */
    /* background-color: #25313d; */
/* } */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-animation: autofill 0s forwards;
    animation: autofill 0s forwards;
}

@keyframes autofill {
    100% {
        background: transparent;
        color: whitesmoke;
    }
}

@-webkit-keyframes autofill {
    100% {
        background: transparent;
        color: whitesmoke;
    }
}

.profile-image {
    border-radius: 50%;
    width: 60px;
    border: 2px solid darkgray;
    margin: 5px auto;
}

.userSpan {
    color: #045377;
    cursor: pointer;
    font-weight: bold;
}

.iconSpan {
    color: #444242;
    padding: 10px;
    font-size: 20px;
}

.iconSpan:hover {
    color: #009688;
}

.drag-drop-outer-container {
    position: relative;
}

.drag-drop-overlay {
    border: 2px dashed grey;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.drag-drop-overlay-text {
    color: grey;
    font-size: 36px;
}

.emoji-picker-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    position: absolute;
}

.loadingSpinner {
    color: #245f8f;
    text-align: center;
    margin: 50px;
}

/* Overlay CSS  */
.image-overlay-container > .overlay-parent {
    transition: .5s ease;
    backface-visibility: hidden;
}

.image-overlay-container:hover > .overlay-parent {
    opacity: 0.75;
}

.overlay-holder {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.image-overlay-container {
    cursor: pointer;
}

.image-overlay-container:hover .overlay-holder {
    opacity: 1;
}

.fragmentTab {
    cursor: pointer;
}

.Modal-Holder {
    display: flex;
    justify-content: center;
}

.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 7px 7px 20px #292626;
    padding: 16px;
    top: 15%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    opacity: 1;
}

.Backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.5);
    box-shadow: inset 0 0 100px black;
}

.btn-large {
    padding: 10px 20px;
}